#home{

    background-image: url("/images/bg_header.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.navbar-brand div{

    width: 150px;
}

.navbar-brand p{

    margin-bottom: 0;
    font-size: 30px;
}


#about{

    background-image: url("/images/bg_nuage.jpg");
    
   
  background-position: center;
    background-size: cover;
}

#borderAbout{

    border: 1px solid white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#history{

    background-image: url("/images/bg_appareil_photo.jpg");
    background-position: center;
    background-size: cover;



}